@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';
@import 'variables';

.box {
    background-color: $light-white;
    border: 1px solid $medium-white;
    border-radius: none;
}

html {
    
}

body {
    @extend .container-fluid;

    font: {
        size: 62.5%;
        family: Arial;
    }
}

#nav {
    height: 100%;
    position: fixed;
}

#header {
    
}

#content {
    #render-area {
        font-family: 'Source Sans Pro', sans-serif;
    }    
}
