$dark-black: #222;
$medium-black: #28303B;
$light-black: #353E59;
$dark-grey: #555;
$medium-grey: #
$light-grey: #
$dark-white: #EBF0F2;
$medium-white: #F8F8F8;
$light-white: #FFF;
$medium-blue: #1DB7FF;
$medium-red: #F34C5E;
$medium-green: #7ED3C2;

$nav-background-color: $light-black;
$header-height: 50px;
$header-background-color: $light-white;
$content-background-color: $medium-white;
