@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';
@import 'variables';

.box {
    background-color: $light-white;
    border: 1px solid $dark-white;
    border-radius: 0;
}

.link-box {
    @extend .box;

    display: block;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

html {
    font-size: 62.5%;
}

body {
    @extend .container-fluid;

    font: {
        family: Arial;
        font-size: 1.4rem;
    }
    color: $dark-grey;
    background-color: $medium-white;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.wrapper {
    @include make-row();
}

#nav {
    @extend .col-sm-1;
    @extend .hidden-xs;

    height: 100%;
    position: fixed;
    padding: {
        right: 0; // Reset
        left: 0; // Reset
    }
    background-color: $light-black;

    &.smaller {
        $new-header-height: $header-height / 1.5;

        h1 {
            a {
                font-size: 1.3rem;
                line-height: $new-header-height;
            }
        }
    }

    h1 {
        margin: {
            top: 0;
            bottom: 0;
        }

        a {
            @extend .header-transition;

            display: block;
            line-height: $header-height;
            text-align: center;
            font: {
                weight: 600;
                size: 1.7rem;
            }
            color: $light-white;
            background-color: $dark-red;
        }
    }

    ul {
        list-style: none;
    }
}

.header-wrapper {
    @extend .col-sm-12;
    @extend .navbar;

    width: 100%;
    position: fixed;
    border: none;
    z-index: 999;

    &.smaller {
        $new-header-height: $header-height / 1.5;

        #header {
            height: $new-header-height;

            h2 {
                font-size: 2.4rem;
                line-height: $new-header-height;
            }

            .knowledge-save {
                font-size: 1.2rem;
                line-height: $new-header-height;
            }

            #dropdown-nav {
                margin-top: 3px;
            }

            .dropdown-menu {
                .h2 {
                    font-size: 1.7rem;
                }

                .h3 {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

#header {
    @extend .header-transition;
    @include make-row();

    height: $header-height;
    background-color: $header-background-color;
    border-bottom: 1px solid $dark-white;

    h2 {
        @extend .col-xs-4;
        @extend .header-transition;

        margin: {
            top: 0; // Reset
            bottom: 0; // Reset
        }
        line-height: $header-height;
    }

    .knowledge-save {
        @extend .col-xs-2;
        @extend .header-transition;

        line-height: $header-height;
        color: $dark-red;

        &.saved {
            color: $light-black;
        }
    }

    #dropdown-nav {
        @extend .box;
        @extend .header-transition;

        margin-top: 12px;

        span {
            margin-left: 9px;
        }
    }

    .dropdown-menu {
        @extend .box;

        font-family: 'Source Sans Pro', sans-serif;

        .h2 {
            margin: {
                top: 0;
                bottom: 0;
            }
            padding: {
                right: 12px;
                left: 12px;
            }
            font-size: 1.7rem;

            &:first-letter {
                font-weight: 700;
            }
        }

        .h3 {
            margin: {
                top: 0;
                bottom: 0;
            }
            padding-left: 20px;
            font-size: 1.4rem;
        }

        li {
            &:hover {
                background-color: $content-background-color;
            }
        }
    }
}

#content {
    @extend .col-sm-11;
    @extend .col-sm-offset-1;
}

#main {
    @extend .col-sm-12;

    margin: {
        top: $header-height + 15px;
        bottom: 15px;
    }
}

.index-page {
    ul {
        @extend .nav;
        @include make-row();

        list-style: none;
        
        li {
            @extend .col-sm-2;

            a {
                @extend .link-box; 
            }
        }
    }
}

.knowledge-list {
    ul {
        @extend .nav;
        @include make-row();

        list-style: none;

        li {
            @extend .col-sm-2;

            a {
                @extend .link-box;
            }
        }
    }
}

.knowledge-page {
    @include make-row();

    #edit-area {
        @extend .hidden-xs;
        @extend .box;

        padding: 7px;
        border-right: none;
    }

    #render-area {
        @extend .box;

        font-family: 'Source Sans Pro', sans-serif;

        h1 {
            margin-bottom: 60px;
            font: {
                weight: 300;
                size: 4.5rem;
            }
        }

        h2 {
            margin: {
                top: 50px;
                bottom: 50px;
            }
            font: {
                weight: 300;
                size: 3.5rem;
            }

            &:first-letter {
                font-weight: 700;
            }
        }

        h3 {
            margin: {
                top: 40px;
                bottom: 40px;
            }
            font-weight: 300;
        }

        h4 {
            margin: {
                top: 30px;
                bottom: 30px;
            }
            font-weight: 300;
        }

        h5 {
            margin: {
                top: 20px;
                bottom: 20px;
            }
            font-weight: 300;
        }

        h6 {
            margin: {
                top: 10px;
                bottom: 10px;
            }
            font-weight: 300;
        }

        table {
            width: 98%;
            margin: 10px auto;

            thead {
                tr {
                    height: 34px;
                    border-bottom: 2px solid $light-grey;
                }
            }

            tbody {
                tr {
                    height: 30px;
                    border-bottom: 1px solid $dark-white;
                }
            }
        }

        pre {
            background-color: $dark-white;
            border: none;
            border-radius: 0;
        }

        code {
            background-color: $dark-white;
            color: $dark-grey;
            border-radius: 0;
        }

        ul {
            padding-left: 30px;
        }

        p {
            text-align: justify;
        }
    }
}
