$dark-black: #222;
$light-black: #353535;
$dark-grey: #555;
$light-grey: #999;
$dark-white: #E2E2E2;
$medium-white: #EBF0F2;
$light-white: #FFF;
$dark-blue: #1DB7FF;
$dark-red: #B61421;

$sass: #CC6699;

$nav-background-color: $light-black;
$header-height: 60px;
$header-background-color: $light-white;
$content-background-color: $dark-white;

.header-transition {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}
