$dark-black: #222;
$light-black: #353E59;
$dark-grey: #555;
$light-grey: #999;
$dark-white: #E2E2E2;
$medium-white: #EBF0F2;
$light-white: #FFF;
$dark-blue: #1DB7FF;
$dark-red: #B61421;

$sass: #CC6699;

$nav-background-color: $light-black;
$header-height: 60px;
$header-background-color: $light-white;
$content-background-color: $dark-white;
