<template name="card">
  <div class="card small">
    <div class="card-image">
    <span class="activator"><i class="material-icons right">more_vert</i></span>
      <a href="/sheets/meteor">
        <object type="image/svg+xml" data="images/logos/elasticsearch.svg">
          Logo
        </object>
      </a>
    </div>

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Connaissance <i class="material-icons right">close</i></span>

      <p>Crée le </p>
      <p>Modifié le </p>
      <p>Hébergé </p>
      <p>Statut </p>
      <p>Location </p>
      <a href="#">Supprimer</a>
    </div>
  </div>
</template>
