<template name="header">
    <header id="header">
        <nav class="teal">
            <div class="nav-wrapper">
                <a href="#" data-activates="header-sidebar" class="button-collapse"><i class="material-icons">menu</i></a>

                <ul class="left hide-on-med-and-down">
  <!--         <li><a href="/get_request_token" class="waves-effect waves-light">1</a></li>
          <li><a href="/api_call_get_path/test" class="waves-effect waves-light">2</a></li> -->
                </ul>

                <a href="#" class="center brand-logo">Razor</a>

                <ul class="right hide-on-med-and-down">
                    {{#if currentUser}}
                        <li><a href="#" class="logout">Logout</a></li>
                    {{else}}
                        <li><a href="#modal-register" class="modal-trigger waves-effect waves-light">Register</a></li>
                        <li><a href="#modal-login" class="modal-trigger waves-effect waves-light">Login</a></li>
                        <!-- <li><a href="{{pathFor route='register'}}">Register</a></li> -->
                        <!-- <li><a href="{{pathFor route='login'}}">Login</a></li> -->
                    {{/if}}

                    <li><a href="#modal-settings" class="modal-trigger waves-effect waves-light">Settings</a></li>
                </ul>

                <ul id="header-sidebar" class="side-nav">
                    {{#if currentUser}}
                        <li>
                            <div class="card-panel">
                                <div class="valign-wrapper">
                                    <img src="images/yuna.jpg" alt="" class="circle responsive-img">
                                </div>

                                <span class="black-text">{{currentUser.firstname currentUser.lastname}}</span>
                            </div>
                        </li>
                        <li><a href="#" class="logout">Logout</a></li>
                    {{else}}
                        <li><a href="#modal-register" class="modal-trigger waves-effect waves-light">Register</a></li>
                        <li><a href="#modal-login" class="modal-trigger waves-effect waves-light">Login</a></li>
                        <!-- <li><a href="{{pathFor route='register'}}">Register</a></li> -->
                        <!-- <li><a href="{{pathFor route='login'}}">Login</a></li> -->
                    {{/if}}

                    <!-- <li><a href="#" class="waves-effect">1</a></li>
                    <li><a href="#" class="waves-effect">2</a></li> -->
                    <li><a href="#modal-settings" class="modal-trigger waves-effect">Settings</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="modal-register" class="modal modal-fixed-footer">
        <form class="register">
            <div class="modal-content">
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" name="email" class="validate" length="30">
                    <label for="email" data-error="Email invalide">Email</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" type="password" name="password" class="validate">
                    <label for="password" data-error="wrong">Password</label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="modal-action modal-close waves-effect waves-gre btn-flat disabled">Register</button>
                <a href="" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            </div>
        </form>
    </div>

    <div id="modal-login" class="modal modal-fixed-footer">
        <form class="login">
            <div class="modal-content">
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" name="email" class="validate" length="30">
                    <label for="email" data-error="Email invalide">Email</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" type="password" name="password" class="validate">
                    <label for="password" data-error="wrong">Password</label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat disabled">Login</button>
                <a href="" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            </div>
        </form>
    </div>

    <div id="modal-settings" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="row">
                <div class="col s2">
                    <p>Synchronisation</p>

                    <div class="switch">
                        <label>Off<input type="checkbox"><span class="lever"></span>On</label>
                    </div>
                </div>

                <div class="col s4">

                </div>
            </div>
        </div>
    </div>
</template>
