<template name="header">
  <header id="header">
    <nav  class="teal">
      <div class="nav-wrapper">
        <a href="#" class="center brand-logo">Razor</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="left hide-on-med-and-down">
          {{#if currentUser}}
            <li><a href="#" class="logout">Logout</a></li>
          {{else}}
            <li><a href="#modal-register" class="modal-trigger waves-effect waves-light">Register</a></li>
            <li><a href="#modal-login" class="modal-trigger waves-effect waves-light">Login</a></li>
            <!-- <li><a href="{{pathFor route='register'}}">Register</a></li> -->
            <!-- <li><a href="{{pathFor route='login'}}">Login</a></li> -->
          {{/if}}

          <li><a href="/get_request_token" class="waves-effect waves-light">Etudes</a></li>
          <li><a href="/api_call_get_path/test" class="waves-effect waves-light">Mobile</a></li>
          <li><a href="#modal-settings" class="modal-trigger waves-effect waves-light">Settings</a></li>
        </ul>

        <ul id="mobile-demo" class="side-nav">
          {{#if currentUser}}
            <li><a href="#" class="logout">Logout</a></li>
          {{else}}
            <li><a href="#modal-register" class="modal-trigger waves-effect waves-light">Register</a></li>
            <li><a href="#modal-login" class="modal-trigger waves-effect waves-light">Login</a></li>
            <!-- <li><a href="{{pathFor route='register'}}">Register</a></li> -->
            <!-- <li><a href="{{pathFor route='login'}}">Login</a></li> -->
          {{/if}}

          <li><a href="#" class="waves-effect">Etudes</a></li>
          <li><a href="#" class="waves-effect">Mobile</a></li>
          <li><a href="#modal-settings" class="modal-trigger waves-effect">Settings</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div id="modal-register" class="modal modal-fixed-footer">
    <form class="register">
      <div class="modal-content">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" name="email" class="validate" length="30">
          <label for="email" data-error="Email invalide">Email</label>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" name="password" class="validate">
          <label for="password" data-error="wrong">Password</label>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="modal-action modal-close waves-effect waves-gre btn-flat disabled">Register</button>
        <a href="" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
      </div>
    </form>
  </div>

  <div id="modal-login" class="modal modal-fixed-footer">
    <form class="login">
      <div class="modal-content">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" name="email" class="validate" length="30">
          <label for="email" data-error="Email invalide">Email</label>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" name="password" class="validate">
          <label for="password" data-error="wrong">Password</label>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat disabled">Login</button>
        <a href="" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
      </div>
    </form>
  </div>

  <div id="modal-settings" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Settings</h4>

      <div class="row">
        <p>Synchronisation</p>

        <div class="switch">
          <label>Off<input type="checkbox"><span class="lever"></span>On</label>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</template>
