<template name="index">
    <div class="row">
        {{#each remote_files}}
            {{> remote_file}}
        {{/each}}

       <!--  <div class="col s6 m4 l2">
            {{> card}}
        </div>

        <div class="col s6 m4 l2">
            {{> card}}
        </div>

        <div class="col s6 m4 l2">
            {{> card}}
        </div>

        <div class="col s6 m4 l2">
            {{> card}}
        </div>

        <div class="col s6 m4 l2">
            {{> card}}
        </div>

        <div class="col s6 m4 l2">
            {{> card}}
        </div>

        <div class="col s6 m4 l2">
            {{> card}}
        </div> -->
    </div>
</template>
