<template name="index">
    <div class="row">
        {{#each files}}
            <div class="col s6 m4 l2">
                {{> file_card}}
            </div>
        {{/each}}
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a href="#modal-create-file" class="modal-trigger btn-floating btn-large waves-effect waves-light teal"><i class="large material-icons">add</i></a>
    </div>

    <div id="modal-create-file" class="modal modal-fixed-footer">
        <form>
            <div class="modal-content">
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <i class="material-icons prefix">label</i>
                            <input type="text" id="name" name="name" class="validate" length="30">
                            <label for="name" data-error="Invalid name">Name</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s3">
                        <div class="input-field">
                            <input type="checkbox" id="copy" name="host">
                            <label for="copy">Copy</label>
                        </div>
                    </div>

                    <div class="col s9">
                        <div id="test" class="input-field">
                            <i class="material-icons prefix">description</i>
                            <input type="text" id="path" name="path" class="validate" length="100">
                            <label for="path" data-error="Invalid path">Chemin</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat disabled">Create</button>
                <a href="" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            </div>
        </form>
    </div>
</template>
